*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.lista{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 70%;
    height: auto;
    margin: auto;
    border: 1px solid;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.lista input{
    width: 70%;
    height: 2rem;
    margin:2rem auto 0;
    padding: 3px;

}
.add{
    height: 2rem;
    padding: 3px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}
.remove{
    height: 2rem;
    padding: 3px;
    background-color: darkred;
    color: white;
    cursor: pointer;

}
li{
    margin: 1rem auto;
    list-style: none;
    border: 1px solid;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}
@media (max-width: 768px) {
    .lista {
        width: 90%;  /* Aumenta a largura para telas menores */
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .lista {
        width: 80%;  /* Ajusta a largura para telas de tablet */
    }
}
@media (min-width: 1440px) {
    .lista {
        width: 40%;  /* Ajusta a largura para telas ultrawide */
    }
    .lista input{
        width: 50%;
    }
    li{
        width: 40%;
    }
}


